:root {
  --dark-navy: #1A2A33;
  --semi-dark-navy: #1F3641;
  --shadow-navy: #10212A;

  --light-blue: #31C3Bd;
  --light-blue-hover: #65E9E4;
  --shadow-blue: #118C87;

  --light-yellow: #F2B137;
  --light-yellow-hover: #FFC860;
  --shadow-yellow: #CC8B13;

  --silver: #A8BFC9;
  --silver-hover: #DBE8ED;
  --shadow-silver: #6B8997;

}