@use "../CSS/mixins" as mixin;
@use "../CSS/fonts";

.boardHeader {
  position: absolute;
  top: var(--column-padding);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: var(--column-width-sm) var(--column-width-sm) var(--column-width-sm);
  gap: var(--column-padding);
  margin-bottom: var(--column-padding);
  
  @include mixin.media(tablet) {
    position: relative;
    top: 0;
    grid-template-columns: var(--column-width) var(--column-width) var(--column-width);
  }

  .logo {
    align-self: center;
  }

  .status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    background-color: var(--semi-dark-navy);
    height: 40px;
    width: var(--column-width-sm);
    border-radius: var(--radius-sm);
    color: var(--silver);
    font-size: 14px;
    @extend .outfit-medium;
    @include mixin.shadow(4px, var(--shadow-navy));

    @include mixin.media(tablet) {
      font-size: 16px;
      width: var(--column-width);
      height: 52px;
    }

    img, span {
      margin-top: -4px;
    }
  }

  .reset {
    justify-self: end;
    width: 40px;
    height: 40px;
    border-radius: var(--radius-sm);
    border: 0;
    background-color: var(--silver);
    transition: all 0.3s var(--easing);
    @include mixin.shadow(4px, var(--shadow-silver));

    @include mixin.media(tablet) {
      font-size: 16px;
      width: 52px;
      height: 52px;
    }

    img {
      transition: all 0s;
    }

    &:hover {
      background-color: var(--silver-hover);
      transform: translateY(-4px);

      img {
        transform: rotate(360deg);
        transition: all 0.5s var(--easing);
      }
    }
  }
}
