@use '../CSS/mixins' as mixin;
@use '../CSS/fonts';

.boardHeader {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: var(--column-width) var(--column-width) var(--column-width);
  gap: var(--column-padding);
  margin-bottom: var(--column-padding);

  .logo {
    align-self: center;
  }

  .status {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    gap: 10px;
    background-color: var(--semi-dark-navy);
    height: 52px;
    width: var(--column-width);
    border-radius: var(--radius-sm);
    color: var(--silver);
    font-size: 16px;
    letter-spacing: 1px;
    @extend .outfit-medium;
    @include mixin.shadow(4px, var(--shadow-navy));

    img, span {
      margin-top: -4px;
    }
  }

  .reset {
    justify-self: end;
    width: 52px;
    height: 52px;
    border-radius: var(--radius-sm);
    border: 0;
    background-color: var(--silver);
    @include mixin.shadow(4px, var(--silver-shadow));
  }
}