@use "CSS/colors";
@use "CSS/fonts";
@use "CSS/layout";

:root {
  @extend .outfit;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--blue-200);
  background-color: var(--dark-navy);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  div {
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }
}